name: CI Backend

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up Java
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5
        with:
          distribution: temurin
          java-version: 21
      - name: Install sbt
        run: |
          curl -L -o sbt.tgz https://github.com/sbt/sbt/releases/download/v1.9.7/sbt-1.9.7.tgz
          sudo tar -xzf sbt.tgz -C /usr/local
          echo "/usr/local/sbt/bin" >> $GITHUB_PATH
      - name: Compile Backend
        run: sbt -Dsbt.supershell=false compile
        working-directory: backend
