name: CI Backend

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up Java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: temurin
          java-version: 21
      - name: Install sbt
        run: |
          curl -L -o sbt.tgz https://github.com/sbt/sbt/releases/download/v1.9.7/sbt-1.9.7.tgz
          sudo tar -xzf sbt.tgz -C /usr/local
          echo "/usr/local/sbt/bin" >> $GITHUB_PATH
      - name: Compile Backend
        run: sbt -Dsbt.supershell=false compile
        working-directory: backend
