name: CI Frontend

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: curl -fsSL https://get.pnpm.io/install.sh | bash -
      - run: echo "/home/runner/.local/share/pnpm:$PATH" >> $GITHUB_PATH
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 24
          cache: "pnpm"

      - run: make install
      - run: make lint
      - run: make test
      - run: make build
      - run: make install/playwright
      - run: make test/e2e
