name: Deploy

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 21 * * *'  # 日本時間 6:00 (UTC 21:00)
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: curl -fsSL https://get.pnpm.io/install.sh | bash -
      - run: echo "/home/runner/.local/share/pnpm:$PATH" >> $GITHUB_PATH
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24
          cache: "pnpm"
      - run: make install
      - run: make build
      - name: Upload
        id: deployment
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: frontend/dist/client

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
